@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* display: flex;
    flex-direction: column; */
    height: 100%;
    font-family: 'Inter';
}

/* --- Header ---*/

.cabecalho {
    display: flex;
    flex-direction: column;
}

.barra_preta {
    background-color: black;
    height: 10px;
    width: 100%;
}

.cabecalho_conteudo {
    display: flex;
    justify-content: center;
    padding: 2% 0;
    gap: 10%;
    background-color: #63BCFF;
    border-style: solid;
    border-color: black;
    flex-wrap: wrap;
}

.cabecalho_conteudo_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.cabecalho_conteudo_barra_pesquisa {
    display: flex;
    flex-direction: column;
    align-items: start;
    
    margin-bottom: 10px;
}

.cabecalho_conteudo_barra_pesquisa input[type="text"] {
    width: 150%;
    padding: 10px 6vw 10px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-buscar {
    margin-top: 0px;
    margin-right: 10px;
}

.btn-adicionar-tema {
    margin-top: 10px;
}

.menu-temas {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-temas a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/*-----------------*/

/* --- Main ---*/

.conteudo_principal {
    display: flex;
    flex-direction: column;
}

.conteudo_principal_titulo {
    padding: 3% 2%;
    text-align: center;
    /*Depois bota a fonte personalizada deste título*/
}

.conteudo_principal_girias {
    background-color: #E1EDF5;
    border-radius: 15px;
    padding: 1% 1% 1% 1%;
    margin: 1% 4% 1% 4%;
    font-size: 1.5vw;
}

.conteudo_principal_girias_titulo {
    /*Depois bota fonte personalizada deste titulo*/
    padding-bottom: 0.5%;
}

.conteudo_principal_girias_linhas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conteudo_principal_girias_linhas_linha {
    display: flex;
    justify-content: space-evenly;
}

.conteudo_principal_girias_giria {
    font-size: 1.7vw;
}

.conteudo_principal_giria_do_dia {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    
}

.conteudo_principal_giria_do_dia_texto {
    background: linear-gradient(#BFE2FC, #728696);
    border-radius: 20px;
    padding: 1% 1% 1% 1%;
}

.conteudo_principal_giria_do_dia_titulo {
    font-size: 2vw;
}

.conteudo_principal_giria_do_dia_significado {
    font-size: 1.5vw;
    padding: 1.5% 1.5% 0 0;
}

.conteudo_principal_giria_do_dia_lista {
    font-size: 1.5vw;
    padding-inline-start: 10%;
    /*tem q arruamr a identação desta lista*/
}

.conteudo_principal_giria_do_dia_link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.conteudo_principal_giria_do_dia_link {
    font-size: 1.5vw;
}

.conteudo_principal_giria_do_dia_link_decoracao {
    color: rgb(0, 38, 255);
}

.conteudo_principal_giria_do_dia_publicidade {
    background-color: #D9D9D9;
    padding: 10%;
}

/*-----------------*/

/* --- Footer ---*/

.rodape {
    display: flex;
    justify-content: space-evenly;
    gap: 40vw;
    padding-top: 4%;
}

.rodape_nome {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.rodape_nome_texto {
    font-size: 1.3vw;
    /*Depois bota fonte personalizada*/
}

.rodape_nome_icones {
    display: flex;
    gap: 8%;
    justify-content: space-between;
}

.rodape_nome_icones_icone {
    scale: 0.7;
}

.rodape_links {
    display: flex;
    flex-direction: column;
}

.rodape_links_linhas {
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
    padding-bottom: 5%;
}

.rodape_links_linhas_linha {
    font-size: 1.05vw;
    display: flex;
    gap: 3vw;
}

.rodape_links_linhas_linha_link {
    text-decoration: none;
    color: black;
}