.pgina-inicial-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pgina-inicial-pgina-inicial {
  width: 1440px;
  height: 1795px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.pgina-inicial-header {
  gap: 24px;
  top: -271.5px;
  left: 239px;
  width: 963px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.pgina-inicial-text {
  top: 296px;
  left: 199px;
  color: rgba(0, 0, 0, 1);
  width: 1056px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.pgina-inicial-navigation-footer {
  top: 1512px;
  left: 4.547473508864641e-13px;
  width: 1440px;
  height: 264px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.pgina-inicial-items {
  gap: 24px;
  top: 48px;
  left: 955px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.pgina-inicial-text002 {
  top: 52px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
.pgina-inicial-social-icons {
  gap: 8px;
  top: 176px;
  left: 80px;
  width: 184px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.pgina-inicial-buttons-icon {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.pgina-inicial-icon {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pgina-inicial-icon1 {
  top: 2.0399999618530273px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.pgina-inicial-buttons-icon1 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.pgina-inicial-icon2 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pgina-inicial-icon3 {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.pgina-inicial-buttons-icon2 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.pgina-inicial-icon4 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pgina-inicial-icon5 {
  top: 5px;
  left: 2px;
  width: 20px;
  height: 14px;
  position: absolute;
}
.pgina-inicial-buttons-icon3 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.pgina-inicial-icon6 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.pgina-inicial-icon7 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.pgina-inicial-divider {
  top: 1px;
  left: 80px;
  width: 1280px;
  height: 1px;
  position: absolute;
  align-self: stretch;
}
.pgina-inicial-items1 {
  gap: 24px;
  top: 72px;
  left: 939px;
  width: 187px;
  height: 120px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.pgina-inicial-text004 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.pgina-inicial-text006 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.pgina-inicial-text008 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.pgina-inicial-items2 {
  gap: 24px;
  top: 72px;
  left: 720px;
  width: 187px;
  height: 120px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.pgina-inicial-text010 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.pgina-inicial-text012 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.pgina-inicial-text014 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.pgina-inicial-text016 {
  top: 168px;
  left: 1095px;
  color: rgba(0, 0, 0, 1);
  width: 187px;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.pgina-inicial-text018 {
  top: 120px;
  left: 1095px;
  color: rgba(0, 0, 0, 1);
  width: 187px;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.pgina-inicial-text020 {
  top: 72px;
  left: 1095px;
  color: rgba(0, 0, 0, 1);
  width: 187px;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.pgina-inicial-rectangle12 {
  top: 1040px;
  left: 42px;
  width: 752px;
  height: 395px;
  position: absolute;
  border-radius: 40px;
}
.pgina-inicial-frame1321316142 {
  top: 432px;
  left: 56px;
  width: 1271px;
  height: 526px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: rgba(225, 237, 245, 1);
}
.pgina-inicial-text022 {
  top: 24px;
  left: 21px;
  color: rgba(0, 0, 0, 1);
  width: 656px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pgina-inicial-text028 {
  top: 112px;
  left: 21px;
  color: rgba(0, 73, 182, 1);
  width: 310px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pgina-inicial-text029 {
  text-decoration: UNDERLINE;
}
.pgina-inicial-text031 {
  text-decoration: UNDERLINE;
}
.pgina-inicial-text033 {
  text-decoration: UNDERLINE;
}
.pgina-inicial-text035 {
  text-decoration: UNDERLINE;
}
.pgina-inicial-text037 {
  text-decoration: UNDERLINE;
}
.pgina-inicial-text039 {
  text-decoration: UNDERLINE;
}
.pgina-inicial-text041 {
  text-decoration: UNDERLINE;
}
.pgina-inicial-text043 {
  text-decoration: UNDERLINE;
}
.pgina-inicial-text045 {
  text-decoration: UNDERLINE;
}
.pgina-inicial-text046 {
  top: 112px;
  left: 331px;
  color: rgba(0, 73, 182, 1);
  width: 310px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.pgina-inicial-text060 {
  top: 112px;
  left: 641px;
  color: rgba(0, 73, 182, 1);
  width: 310px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.pgina-inicial-text074 {
  top: 112px;
  left: 951px;
  color: rgba(0, 73, 182, 1);
  width: 310px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.pgina-inicial-text088 {
  top: 1063.6890869140625px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  width: 331px;
  height: auto;
  position: absolute;
  font-size: 42.202247619628906px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.pgina-inicial-text090 {
  top: 1059px;
  left: 310.142333984375px;
  color: rgba(0, 0, 0, 1);
  width: 354px;
  height: auto;
  position: absolute;
  font-size: 42.202247619628906px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.pgina-inicial-text092 {
  top: 1129.3370361328125px;
  left: 55.756591796875px;
  color: rgba(0, 0, 0, 1);
  width: 293px;
  height: auto;
  position: absolute;
  font-size: 35.16853713989258px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.pgina-inicial-text094 {
  top: 1158.6441650390625px;
  left: 94.44189453125px;
  color: rgba(0, 0, 0, 1);
  width: 652px;
  height: auto;
  position: absolute;
  font-size: 35.16853713989258px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.pgina-inicial-rectangle13 {
  top: 1040px;
  left: 955px;
  width: 362px;
  height: 440px;
  position: absolute;
}
.pgina-inicial-text100 {
  top: 1212px;
  left: 1028px;
  color: rgba(64, 64, 64, 1);
  width: 216px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.pgina-inicial-text102 {
  top: 1354px;
  left: 73px;
  color: rgba(0, 0, 0, 1);
  width: 694px;
  height: auto;
  position: absolute;
  font-size: 35.16853713989258px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.pgina-inicial-text103 {
  color: rgba(0, 0, 0, 1);
  text-decoration: NONE;
}
.pgina-inicial-navigation {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 280px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: flex-end;
  background-color: rgba(99, 188, 255, 1);
}
.pgina-inicial-text105 {
  top: 70px;
  left: 72px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 57.45588684082031px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pgina-inicial-button-new {
  gap: 7.181985855102539px;
  top: 182px;
  left: 735px;
  width: 199px;
  height: 48px;
  display: flex;
  padding: 21.545957565307617px 28.727943420410156px;
  position: absolute;
  box-shadow: 0px 0.8977482318878174px 1.7954964637756348px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 7.181985855102539px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.pgina-inicial-text109 {
  color: rgba(255, 255, 255, 1);
  width: 183px;
  height: auto;
  font-size: 23px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.pgina-inicial-vector1 {
  top: 124px;
  left: 1205px;
  width: 10px;
  height: 18px;
  position: absolute;
}
.pgina-inicial-ellipse1 {
  top: 116.860595703125px;
  left: 1197.72265625px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3.2535202503204346px;
}
.pgina-inicial-line1 {
  top: 142.2774658203125px;
  left: 1223.139404296875px;
  width: 28px;
  height: 1px;
  position: absolute;
}
.pgina-inicial-rectangle14 {
  top: 249.5px;
  left: 1px;
  width: 1439px;
  height: 31px;
  position: absolute;
}
.pgina-inicial-rectangle15 {
  top: 249.5px;
  left: 1px;
  width: 1439px;
  height: 31px;
  position: absolute;
}
.pgina-inicial-rectangle17 {
  top: 249.5px;
  left: 1px;
  width: 1439px;
  height: 31px;
  position: absolute;
}
.pgina-inicial-rectangle16 {
  top: 0px;
  left: 1px;
  width: 1439px;
  height: 31px;
  position: absolute;
}
.pgina-inicial-field {
  gap: -39px;
  top: 104px;
  left: 735px;
  width: 498px;
  height: 72.72130584716797px;
  display: flex;
  padding: 17.000328063964844px;
  position: absolute;
  box-shadow: 0px 1.0625205039978027px 2.1250410079956055px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.0625205039978027px;
  border-radius: 8.500164031982422px;
  background-color: rgba(255, 255, 255, 1);
}
.pgina-inicial-text111 {
  color: rgb(0, 0, 0);
  width: 439px;
  height: auto;
  font-size: 21.2504px;
  font-style: Medium;
  text-align: left;
  font-family: "Inter";
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.pgina-inicial-image {
  width: 66px;
  height: 50px;
  object-fit: cover;
}
.pgina-inicial-button-new1 {
  gap: 7.181985855102539px;
  top: 107.860595703125px;
  left: 1270.72265625px;
  width: 148px;
  height: 64px;
  display: flex;
  padding: 21.545957565307617px 28.727943420410156px;
  position: absolute;
  box-shadow: 0px 0.8977482318878174px 1.7954964637756348px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 7.181985855102539px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.pgina-inicial-text112 {
  color: rgb(255, 255, 255);
  width: 91px;
  height: auto;
  font-size: 23px;
  font-style: Medium;
  text-align: left;
  font-family: "Inter";
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
