.page-resul-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-resul-busca-gria {
  width: 1440px;
  height: 1802px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.page-resul-copy {
  gap: 24px;
  top: 244px;
  left: 299px;
  width: 842px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.page-resul-text {
  top: 316px;
  left: 10px;
  color: rgba(0, 0, 0, 1);
  width: 845px;
  height: auto;
  position: absolute;
  font-size: 54.53300857543945px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-navigation-footer {
  top: 1512px;
  left: 0px;
  width: 1440px;
  height: 264px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.page-resul-items {
  gap: 24px;
  top: 48px;
  left: 736px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.page-resul-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-items1 {
  gap: 24px;
  top: 48px;
  left: 955px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.page-resul-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-text12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-items2 {
  gap: 24px;
  top: 48px;
  left: 1173px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.page-resul-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-text20 {
  top: 52px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
.page-resul-social-icons {
  gap: 8px;
  top: 176px;
  left: 80px;
  width: 184px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.page-resul-buttons-icon {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.page-resul-icon {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-resul-icon1 {
  top: 2.0399999618530273px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.page-resul-buttons-icon1 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.page-resul-icon2 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-resul-icon3 {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.page-resul-buttons-icon2 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.page-resul-icon4 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-resul-icon5 {
  top: 5px;
  left: 2px;
  width: 20px;
  height: 14px;
  position: absolute;
}
.page-resul-buttons-icon3 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.page-resul-icon6 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-resul-icon7 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.page-resul-divider {
  top: 1px;
  left: 80px;
  width: 1280px;
  height: 1px;
  position: absolute;
  align-self: stretch;
}
.page-resul-navigation {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 228px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(99, 188, 255, 1);
}
.page-resul-text22 {
  top: 56.92841720581055px;
  left: 58.55507278442383px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 46.72673034667969px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-field {
  gap: -31.717247009277344px;
  top: 90px;
  left: 744px;
  width: 522px;
  height: 59px;
  display: flex;
  padding: 13.825733184814453px;
  position: absolute;
  box-shadow: 0px 0.8641083240509033px 1.7282166481018066px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0.8641083240509033px;
  border-radius: 6.912866592407227px;
  background-color: rgba(255, 255, 255, 1);
}
.page-resul-text26 {
  color: rgba(0, 0, 0, 1);
  width: 441px;
  height: auto;
  font-size: 17.280000686645508px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-image {
  width: 66px;
  height: 50px;
  object-fit: cover;
}
.page-resul-button-new {
  gap: 5.840841293334961px;
  top: 93.1397705078125px;
  left: 1276.68310546875px;
  width: 120px;
  height: 52.04881286621094px;
  display: flex;
  padding: 17.522523880004883px 23.363365173339844px;
  position: absolute;
  box-shadow: 0px 0.7301051616668701px 1.4602103233337402px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5.840841293334961px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.page-resul-text28 {
  color: rgba(255, 255, 255, 1);
  width: 74px;
  height: auto;
  font-size: 18.705041885375977px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-line1 {
  top: 122.4168701171875px;
  left: 1229.416748046875px;
  width: 28px;
  height: 1px;
  position: absolute;
}
.page-resul-rectangle14 {
  top: 202.9090576171875px;
  left: 0.813339352607727px;
  width: 1170px;
  height: 25px;
  position: absolute;
}
.page-resul-rectangle15 {
  top: 203px;
  left: 1px;
  width: 1439px;
  height: 25px;
  position: absolute;
}
.page-resul-rectangle16 {
  top: 0px;
  left: 1px;
  width: 1439px;
  height: 25px;
  position: absolute;
}
.page-resul-text30 {
  top: 398px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-text32 {
  top: 491px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  width: 633px;
  height: auto;
  position: absolute;
  font-size: 34px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-text34 {
  top: 612px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-text36 {
  top: 705px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  width: 633px;
  height: auto;
  position: absolute;
  font-size: 34px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-text38 {
  top: 830px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-text40 {
  top: 923px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  width: 633px;
  height: auto;
  position: absolute;
  font-size: 34px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-text42 {
  top: 1052px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-text44 {
  top: 1145px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  width: 633px;
  height: auto;
  position: absolute;
  font-size: 34px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-text46 {
  top: 1282px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-text48 {
  top: 1375px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  width: 633px;
  height: auto;
  position: absolute;
  font-size: 34px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-button-new1 {
  gap: 5.557918548583984px;
  top: 152px;
  left: 744px;
  width: 154px;
  height: 37.145729064941406px;
  display: flex;
  padding: 16.673755645751953px 22.231674194335938px;
  position: absolute;
  box-shadow: 0px 0.694739818572998px 1.389479637145996px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5.557918548583984px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.page-resul-text50 {
  color: rgba(255, 255, 255, 1);
  width: 142px;
  height: auto;
  font-size: 17.798994064331055px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
