.page-resul-tema-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-resul-tema-busca-com-tema {
  width: 1440px;
  height: 1802px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.page-resul-tema-text {
  top: 347px;
  left: -41px;
  color: rgba(0, 0, 0, 1);
  width: 1210px;
  height: auto;
  position: absolute;
  font-size: 54.53300857543945px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-navigation-footer {
  top: 1512px;
  left: 0px;
  width: 1440px;
  height: 264px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.page-resul-tema-items {
  gap: 24px;
  top: 48px;
  left: 736px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.page-resul-tema-items1 {
  gap: 24px;
  top: 48px;
  left: 955px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.page-resul-tema-items2 {
  gap: 24px;
  top: 48px;
  left: 1173px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.page-resul-tema-text02 {
  top: 52px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
.page-resul-tema-social-icons {
  gap: 8px;
  top: 176px;
  left: 80px;
  width: 184px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.page-resul-tema-buttons-icon {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.page-resul-tema-icon {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-resul-tema-icon1 {
  top: 2.0399999618530273px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.page-resul-tema-buttons-icon1 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.page-resul-tema-icon2 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-resul-tema-icon3 {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.page-resul-tema-buttons-icon2 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.page-resul-tema-icon4 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-resul-tema-icon5 {
  top: 5px;
  left: 2px;
  width: 20px;
  height: 14px;
  position: absolute;
}
.page-resul-tema-buttons-icon3 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.page-resul-tema-icon6 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-resul-tema-icon7 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.page-resul-tema-divider {
  top: 1px;
  left: 80px;
  width: 1280px;
  height: 1px;
  position: absolute;
  align-self: stretch;
}
.page-resul-tema-items3 {
  gap: 24px;
  top: 76px;
  left: 964px;
  width: 187px;
  height: 120px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.page-resul-tema-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-tema-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-tema-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-tema-items4 {
  gap: 24px;
  top: 76px;
  left: 745px;
  width: 187px;
  height: 120px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.page-resul-tema-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-tema-text12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-tema-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-tema-text16 {
  top: 76px;
  left: 1115px;
  color: rgba(0, 0, 0, 1);
  width: 187px;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-tema-text18 {
  top: 124px;
  left: 1115px;
  color: rgba(0, 0, 0, 1);
  width: 187px;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-tema-text20 {
  top: 172px;
  left: 1115px;
  color: rgba(0, 0, 0, 1);
  width: 187px;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.page-resul-tema-navigation {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 228px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(99, 188, 255, 1);
}
.page-resul-tema-text22 {
  top: 56.92841720581055px;
  left: 58.55507278442383px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 46.72673034667969px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-field {
  gap: -31.717247009277344px;
  top: 90px;
  left: 744px;
  width: 522px;
  height: 59px;
  display: flex;
  padding: 13.825733184814453px;
  position: absolute;
  box-shadow: 0px 0.8641083240509033px 1.7282166481018066px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0.8641083240509033px;
  border-radius: 6.912866592407227px;
  background-color: rgba(255, 255, 255, 1);
}
.page-resul-tema-text26 {
  color: rgba(0, 0, 0, 1);
  width: 394px;
  height: auto;
  font-size: 17px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-image {
  width: 66px;
  height: 50px;
  object-fit: cover;
}
.page-resul-tema-button-new {
  gap: 5.840841293334961px;
  top: 93.1397705078125px;
  left: 1276.68310546875px;
  width: 120px;
  height: 52.04881286621094px;
  display: flex;
  padding: 17.522523880004883px 23.363365173339844px;
  position: absolute;
  box-shadow: 0px 0.7301051616668701px 1.4602103233337402px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5.840841293334961px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.page-resul-tema-text28 {
  color: rgba(255, 255, 255, 1);
  width: 74px;
  height: auto;
  font-size: 18.705041885375977px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-line1 {
  top: 122.4168701171875px;
  left: 1229.416748046875px;
  width: 28px;
  height: 1px;
  position: absolute;
}
.page-resul-tema-rectangle14 {
  top: 202.9090576171875px;
  left: 0.813339352607727px;
  width: 1170px;
  height: 25px;
  position: absolute;
}
.page-resul-tema-rectangle15 {
  top: 203px;
  left: 1px;
  width: 1439px;
  height: 25px;
  position: absolute;
}
.page-resul-tema-rectangle16 {
  top: 0px;
  left: 1px;
  width: 1439px;
  height: 25px;
  position: absolute;
}
.page-resul-tema-text30 {
  top: 417px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-text32 {
  top: 478px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  width: 633px;
  height: auto;
  position: absolute;
  font-size: 34px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-text34 {
  top: 569px;
  left: 48px;
  color: rgba(0, 0, 0, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-text36 {
  top: 670px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  width: 633px;
  height: auto;
  position: absolute;
  font-size: 34px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-text38 {
  top: 739px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-text40 {
  top: 832px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  width: 633px;
  height: auto;
  position: absolute;
  font-size: 34px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-text42 {
  top: 915px;
  left: 48px;
  color: rgba(0, 0, 0, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-text44 {
  top: 1008px;
  left: 48px;
  color: rgba(0, 0, 0, 1);
  width: 633px;
  height: auto;
  position: absolute;
  font-size: 34px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-text46 {
  top: 1099px;
  left: 48px;
  color: rgba(0, 0, 0, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-text48 {
  top: 1192px;
  left: 48px;
  color: rgba(0, 0, 0, 1);
  width: 633px;
  height: auto;
  position: absolute;
  font-size: 34px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-rectangle19 {
  top: 253px;
  left: 26px;
  width: 203px;
  height: 66px;
  position: absolute;
}
.page-resul-tema-text50 {
  top: 253px;
  left: 34px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 54.53300857543945px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-rectangle20 {
  top: 253px;
  left: 261px;
  width: 203px;
  height: 66px;
  position: absolute;
}
.page-resul-tema-text52 {
  top: 253px;
  left: 265px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 54.53300857543945px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-rectangle21 {
  top: 253px;
  left: 496px;
  width: 203px;
  height: 66px;
  position: absolute;
}
.page-resul-tema-text54 {
  top: 253px;
  left: 499px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 54.53300857543945px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-text56 {
  top: 240px;
  left: 721px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 54.53300857543945px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-rectangle22 {
  top: 1405px;
  left: 48px;
  width: 203px;
  height: 42px;
  position: absolute;
}
.page-resul-tema-text58 {
  top: 1405px;
  left: 88px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-rectangle23 {
  top: 1405px;
  left: 283px;
  width: 203px;
  height: 42px;
  position: absolute;
}
.page-resul-tema-text60 {
  top: 1405px;
  left: 321px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-rectangle24 {
  top: 1405px;
  left: 518px;
  width: 203px;
  height: 42px;
  position: absolute;
}
.page-resul-tema-text62 {
  top: 1405px;
  left: 555px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-text64 {
  top: 1392px;
  left: 751px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-text66 {
  top: 1304px;
  left: 48px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.page-resul-tema-button-new1 {
  gap: 5.557918548583984px;
  top: 152px;
  left: 744px;
  width: 154px;
  height: 37.145729064941406px;
  display: flex;
  padding: 16.673755645751953px 22.231674194335938px;
  position: absolute;
  box-shadow: 0px 0.694739818572998px 1.389479637145996px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5.557918548583984px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.page-resul-tema-text68 {
  color: rgba(255, 255, 255, 1);
  width: 142px;
  height: auto;
  font-size: 17.798994064331055px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
